* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000; }

.easter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px;
  z-index: 50;
  overflow: hidden; }
  .easter .butt {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border: 2px solid #000;
    padding: 15px;
    font-family: consolas;
    -webkit-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms; }
  .easter .butt:hover {
    color: #FD0;
    border: 2px solid #FD0; }

.egg2 {
  display: none; }

.start {
  z-index: 75;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Comic sans ms;
  font-size: 50px;
  padding: 20px 40px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 750ms;
  -o-transition: 750ms;
  transition: 750ms;
  -webkit-animation: fall 1500ms linear 1 -100ms forwards,  pulse 4000ms linear infinite 1450ms forwards;
  animation: fall 1500ms linear 1 -100ms forwards,  pulse 4000ms linear infinite 1450ms forwards; }

.start:hover {
  -webkit-box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  background-color: #fff;
  color: #000;
  border-radius: 50px; }

.start:active {
  -webkit-box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  background-color: #fff;
  color: #0F2;
  border-radius: 50px; }

.started {
  -webkit-animation: scaling 800ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 1 forwards;
  animation: scaling 800ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 1 forwards; }

.sky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 100%;
  min-width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#007F0EFF), to(#0094FFFF));
  background: -webkit-linear-gradient(bottom, #007F0EFF, #0094FFFF);
  background: -o-linear-gradient(bottom, #007F0EFF, #0094FFFF);
  background: linear-gradient(0deg, #007F0EFF, #0094FFFF);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: 1500ms;
  -o-transition: 1500ms;
  transition: 1500ms; }
  .sky__num {
    font-family: consolas;
    position: absolute;
    z-index: 5;
    font-size: 180px;
    opacity: 0.1;
    text-transform: uppercase;
    text-align: center; }
  .sky__plane {
    position: absolute;
    z-index: 10;
    left: -1000px;
    -webkit-transition: 2500ms;
    -o-transition: 2500ms;
    transition: 2500ms;
    -webkit-animation: flight 42651ms linear infinite 324ms forwards;
    animation: flight 42651ms linear infinite 324ms forwards; }
    .sky__plane img {
      -webkit-animation: bounce 33851ms linear infinite forwards;
      animation: bounce 33851ms linear infinite forwards;
      width: 50%; }
  .sky__cloud {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    left: 1000px;
    -webkit-transition: 3000ms;
    -o-transition: 3000ms;
    transition: 3000ms;
    z-index: 15; }
    .sky__cloud img {
      width: 20%; }

.dig {
  position: absolute;
  top: 0; }

.freak {
  position: relative;
  left: 0; }

.fool {
  position: absolute;
  left: 0; }

.cloud1 {
  -webkit-transform: translateY(-350%);
  -ms-transform: translateY(-350%);
  transform: translateY(-350%);
  -webkit-animation: cloud1 14629ms linear infinite -5578ms forwards;
  animation: cloud1 14629ms linear infinite -5578ms forwards; }

.cloud2 {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: cloud2 17249ms linear infinite -9512ms forwards;
  animation: cloud2 17249ms linear infinite -9512ms forwards; }

.cloud3 {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-animation: cloud3 20764ms linear infinite -7147ms forwards;
  animation: cloud3 20764ms linear infinite -7147ms forwards; }

.cloud4 {
  -webkit-transform: translateY(180%);
  -ms-transform: translateY(180%);
  transform: translateY(180%);
  -webkit-animation: cloud4 11972ms linear infinite -4996ms forwards;
  animation: cloud4 11972ms linear infinite -4996ms forwards; }

.cloud5 {
  -webkit-transform: translateY(325%);
  -ms-transform: translateY(325%);
  transform: translateY(325%);
  -webkit-animation: cloud5 24572ms linear infinite -6568ms forwards;
  animation: cloud5 24572ms linear infinite -6568ms forwards; }

@media screen and (max-width: 1440px) {
  .sky__num {
    font-size: 140px; } }

@media screen and (max-width: 1366px) {
  .start {
    font-size: 40px;
    padding: 15px 30px; } }

@media screen and (max-width: 500px) {
  .sky__num {
    font-size: 100px; } }

@media screen and (max-width: 350px) {
  .start {
    font-size: 36px;
    padding: 10px 20px; }
  .sky__num {
    font-size: 80px; } }

@media screen and (max-width: 250px) {
  .start {
    font-size: 32px;
    padding: 8px 16px; }
  .sky__num {
    font-size: 60px; } }

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@keyframes fall {
  0% {
    -webkit-transform: translateY(-150vh);
    transform: translateY(-150vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    -webkit-transform: scale(1.1) rotate(0deg);
    transform: scale(1.1) rotate(0deg); }
  100% {
    -webkit-transform: scale(0) rotate(40deg);
    transform: scale(0) rotate(40deg); } }

@keyframes scaling {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    -webkit-transform: scale(1.1) rotate(0deg);
    transform: scale(1.1) rotate(0deg); }
  100% {
    -webkit-transform: scale(0) rotate(40deg);
    transform: scale(0) rotate(40deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); }
  5% {
    -webkit-transform: translateY(-8vh);
    transform: translateY(-8vh); }
  10% {
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh); }
  15% {
    -webkit-transform: translateY(7vh);
    transform: translateY(7vh); }
  20% {
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh); }
  25% {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh); }
  30% {
    -webkit-transform: translateY(9vh);
    transform: translateY(9vh); }
  35% {
    -webkit-transform: translateY(2vh);
    transform: translateY(2vh); }
  40% {
    -webkit-transform: translateY(-4vh);
    transform: translateY(-4vh); }
  45% {
    -webkit-transform: translateY(-9vh);
    transform: translateY(-9vh); }
  50% {
    -webkit-transform: translateY(-6vh);
    transform: translateY(-6vh); }
  75% {
    -webkit-transform: translateY(-15vh);
    transform: translateY(-15vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); }
  5% {
    -webkit-transform: translateY(-8vh);
    transform: translateY(-8vh); }
  10% {
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh); }
  15% {
    -webkit-transform: translateY(7vh);
    transform: translateY(7vh); }
  20% {
    -webkit-transform: translateY(3vh);
    transform: translateY(3vh); }
  25% {
    -webkit-transform: translateY(15vh);
    transform: translateY(15vh); }
  30% {
    -webkit-transform: translateY(9vh);
    transform: translateY(9vh); }
  35% {
    -webkit-transform: translateY(2vh);
    transform: translateY(2vh); }
  40% {
    -webkit-transform: translateY(-4vh);
    transform: translateY(-4vh); }
  45% {
    -webkit-transform: translateY(-9vh);
    transform: translateY(-9vh); }
  50% {
    -webkit-transform: translateY(-6vh);
    transform: translateY(-6vh); }
  75% {
    -webkit-transform: translateY(-15vh);
    transform: translateY(-15vh); }
  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh); } }

@-webkit-keyframes flight {
  0% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); }
  25% {
    -webkit-transform: translateX(-20vw);
    transform: translateX(-20vw); }
  50% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); }
  75% {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw); }
  100% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); } }

@keyframes flight {
  0% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); }
  25% {
    -webkit-transform: translateX(-20vw);
    transform: translateX(-20vw); }
  50% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); }
  75% {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw); }
  100% {
    -webkit-transform: translateX(0vh);
    transform: translateX(0vh); } }

@-webkit-keyframes cloud1 {
  0% {
    -webkit-transform: translateX(0%) translateY(-350%);
    transform: translateX(0%) translateY(-350%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(-350%);
    transform: translateX(-100%) translateY(-350%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(-350%);
    transform: translateX(-100%) translateY(-350%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(-350%);
    transform: translateX(100vw) translateY(-350%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(-350%);
    transform: translateX(100vw) translateY(-350%);
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(-350%);
    transform: translateX(0%) translateY(-350%); } }

@keyframes cloud1 {
  0% {
    -webkit-transform: translateX(0%) translateY(-350%);
    transform: translateX(0%) translateY(-350%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(-350%);
    transform: translateX(-100%) translateY(-350%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(-350%);
    transform: translateX(-100%) translateY(-350%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(-350%);
    transform: translateX(100vw) translateY(-350%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(-350%);
    transform: translateX(100vw) translateY(-350%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(-350%);
    transform: translateX(0%) translateY(-350%); } }

@-webkit-keyframes cloud2 {
  0% {
    -webkit-transform: translateX(0%) translateY(-200%);
    transform: translateX(0%) translateY(-200%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(-200%);
    transform: translateX(-100%) translateY(-200%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(-200%);
    transform: translateX(-100%) translateY(-200%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(-200%);
    transform: translateX(100vw) translateY(-200%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(-200%);
    transform: translateX(100vw) translateY(-200%);
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(-200%);
    transform: translateX(0%) translateY(-200%); } }

@keyframes cloud2 {
  0% {
    -webkit-transform: translateX(0%) translateY(-200%);
    transform: translateX(0%) translateY(-200%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(-200%);
    transform: translateX(-100%) translateY(-200%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(-200%);
    transform: translateX(-100%) translateY(-200%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(-200%);
    transform: translateX(100vw) translateY(-200%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(-200%);
    transform: translateX(100vw) translateY(-200%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(-200%);
    transform: translateX(0%) translateY(-200%); } }

@-webkit-keyframes cloud3 {
  0% {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(0%);
    transform: translateX(-100%) translateY(0%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(0%);
    transform: translateX(-100%) translateY(0%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(0%);
    transform: translateX(100vw) translateY(0%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(0%);
    transform: translateX(100vw) translateY(0%);
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%); } }

@keyframes cloud3 {
  0% {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(0%);
    transform: translateX(-100%) translateY(0%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(0%);
    transform: translateX(-100%) translateY(0%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(0%);
    transform: translateX(100vw) translateY(0%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(0%);
    transform: translateX(100vw) translateY(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%); } }

@-webkit-keyframes cloud4 {
  0% {
    -webkit-transform: translateX(0%) translateY(180%);
    transform: translateX(0%) translateY(180%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(180%);
    transform: translateX(-100%) translateY(180%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(180%);
    transform: translateX(-100%) translateY(180%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(180%);
    transform: translateX(100vw) translateY(180%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(180%);
    transform: translateX(100vw) translateY(180%);
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(180%);
    transform: translateX(0%) translateY(180%); } }

@keyframes cloud4 {
  0% {
    -webkit-transform: translateX(0%) translateY(180%);
    transform: translateX(0%) translateY(180%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(180%);
    transform: translateX(-100%) translateY(180%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(180%);
    transform: translateX(-100%) translateY(180%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(180%);
    transform: translateX(100vw) translateY(180%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(180%);
    transform: translateX(100vw) translateY(180%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(180%);
    transform: translateX(0%) translateY(180%); } }

@-webkit-keyframes cloud5 {
  0% {
    -webkit-transform: translateX(0%) translateY(325%);
    transform: translateX(0%) translateY(325%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(325%);
    transform: translateX(-100%) translateY(325%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(325%);
    transform: translateX(-100%) translateY(325%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(325%);
    transform: translateX(100vw) translateY(325%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(325%);
    transform: translateX(100vw) translateY(325%);
    display: -webkit-box;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(325%);
    transform: translateX(0%) translateY(325%); } }

@keyframes cloud5 {
  0% {
    -webkit-transform: translateX(0%) translateY(325%);
    transform: translateX(0%) translateY(325%); }
  25% {
    -webkit-transform: translateX(-100%) translateY(325%);
    transform: translateX(-100%) translateY(325%); }
  30% {
    -webkit-transform: translateX(-100%) translateY(325%);
    transform: translateX(-100%) translateY(325%);
    display: none;
    visibility: hidden; }
  31% {
    -webkit-transform: translateX(100vw) translateY(325%);
    transform: translateX(100vw) translateY(325%);
    display: none;
    visibility: hidden; }
  32% {
    -webkit-transform: translateX(100vw) translateY(325%);
    transform: translateX(100vw) translateY(325%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0%) translateY(325%);
    transform: translateX(0%) translateY(325%); } }
